@import "mocha.css";

* {
  /*border: none;*/
  /*border-radius: 0;*/
  /*min-height: 0;*/
  /*margin: 0;*/
  /*padding: 0;*/
  color: @text;
}
#waybar {
  background: @base-terminal;
  border: @base 1px solid;
  color: @text;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 400;
  border-radius: 4px;
}

#workspaces button {
  padding: 4px 8px;
  color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: #fa5aa4;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#clock,
#window,
#pulseaudio,
#custom-updates,
#network {
  padding: 4px 8px;
  /* background-color: #303643; */
  border-radius: 5%;
  /* margin: 6px 4px; */
}

#window {
  color: #929db1;
}

#tray {
  margin-left: 4px;
}

.modules-right {
  font-size: 16px;
  padding: 4px 8px;
  background-color: @base;
  border-radius: 20px;
  margin: 6px 6px 6px 4px;
}

#custom-updates {
  color: #1788e4;
}

#custom-powermenu {
  color: #e06c75;
  margin: 0px 8px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio {
  color: @red;
  padding-right: 14px;
}

#cpu {
  color: @yellow;
}

#memory {
  color: @peach;
}

#network {
  color: @blue;
}

#temperature {
  color: @green;
}

#clock {
  color: @peach;
  margin-left: 20px;
  opacity: 0.7;
  font-size: 18px;
}
